---
- name: Install Apache as Reverse Proxy

  include_role:
    name: geerlingguy.apache
    apply:
      become: true
  vars:
    apache_state: started
    apache_create_vhosts: true
    apache_remove_default_vhost: true
    apache_allow_override: None
    apache_mods_enabled:
    - rewrite.load
    - status.load
    - proxy_http.load
    - proxy.load
{% if reverse_proxy.certbot %}
    - ssl.load
{% endif %}

    apache_global_vhost_settings: |
      ServerTokens Prod
      ServerSignature Off
      LogFormat "%{X-Forwarded-For}i %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

    apache_vhosts:
{% for vhost in reverse_proxy.vhosts %}
    - servername: "{{ vhost.domain }}"
      serveralias: "{{ vhost.domain }}"
      serveradmin: "{{ reverse_proxy.email }}"
{% if reverse_proxy.certbot %}
      extra_parameters: |
        Redirect permanent / https://{{ vhost.domain }}/

        ErrorLog ${APACHE_LOG_DIR}/{{ vhost.name }}-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ vhost.name }}-access.log combined
{% else %}
      extra_parameters: |
{% if (reverse_proxy.allow_list|default([]))|length > 0 %}
        <Location />
{% for ip in reverse_proxy.allow_list %}
          Require ip {{ ip }}
{% endfor %}
        </Location>

        <Location ~ "^/.well-known/">
          Require all granted
        </Location>
{% endif %}

        ProxyPass / http://{{ vhost.backend_endpoint }}/
        ProxyPassReverse / http://{{ vhost.backend_endpoint }}/

        ErrorLog ${APACHE_LOG_DIR}/{{ vhost.name }}-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ vhost.name }}-access.log combined
{% endif %}
{% endfor %}

{% if reverse_proxy.certbot %}
    apache_vhosts_ssl:
{% for vhost in reverse_proxy.vhosts %}
    - servername: "{{ vhost.domain }}"
      serveralias: "{{ vhost.domain }}"
      serveradmin: "{{ reverse_proxy.email }}"

      certificate_file: "/etc/letsencrypt/live/{{ (reverse_proxy.vhosts|first).domain | replace('*.', '') }}/cert.pem"
      certificate_key_file: "/etc/letsencrypt/live/{{ (reverse_proxy.vhosts|first).domain | replace('*.', '') }}/privkey.pem"
      certificate_chain_file: "/etc/letsencrypt/live/{{ (reverse_proxy.vhosts|first).domain | replace('*.', '') }}/chain.pem"

      extra_parameters: |
{% if (reverse_proxy.allow_list|default([]))|length > 0 %}
        <Location />
{% for ip in reverse_proxy.allow_list %}
          Require ip {{ ip }}
{% endfor %}
        </Location>

        <Location ~ "^/.well-known/">
          Require all granted
        </Location>
{% endif %}

        ProxyPass / http://{{ vhost.backend_endpoint }}/
        ProxyPassReverse / http://{{ vhost.backend_endpoint }}/

        ErrorLog ${APACHE_LOG_DIR}/{{ vhost.name }}-ssl-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ vhost.name }}-ssl-access.log combined
{% endfor %}
{% endif %}
